/* 
## Colors

### Primary

- Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

### Neutral

- Pale Blue: hsl(243, 100%, 93%)
- Grayish Blue: hsl(229, 7%, 55%)
- Dark Blue: hsl(228, 56%, 26%)
- Very Dark Blue: hsl(229, 57%, 11%)


### Body Copy

- Font size: 14px

### Font

font-family: 'Raleway', sans-serif;
- Weights: 400, 700 
*/

html {
    font-size: 14px;
    background-color: hsl(229, 57%, 11%);
    font-family: "Raleway", sans-serif;
    color: hsl(243, 100%, 93%);
}

.num {
    color: hsl(228, 56%, 26%);
    font-weight: 700;
    font-size: 40px;
    float: left;
}

.used,
.zero,
.thousand {
    font-weight: 700;
}

.gb {
    color: hsl(229, 7%, 55%);
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    margin-top: 15px;
    padding-left: 10px;
}

.box3 {
    background-color: white;
    width: 130px;
    height: 48px;
    padding: 10px 20px;
    border-radius: 10px;
}

.box1 {
    background-color: hsl(228, 56%, 26%);
    padding: 40px;
    width: 280px;
    border-top-right-radius: 120px;
}

.icon1,
.icon2,
.icon3 {
    background-color: hsl(229, 57%, 11%);
    width: 50px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
}

.icons {
    display: flex;
    margin-top: 30px;
}

.box2 {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
}

.slider {
    overflow: hidden;
    width: 450px;
    height: 13px;
    -webkit-appearance: none;
    background-color: hsl(229, 57%, 11%);
    border-radius: 25px;
    border: hsl(229, 57%, 11%) 2px solid;

}

.slider::-webkit-slider-thumb {
    width: 11px;
    -webkit-appearance: none;
    height: 11px;
    border-radius: 50%;
    background: white;
    box-shadow: -80px 0 0 80px #43e5f7;
}

@media screen and (min-width: 401px) {
    /* DESKTOP VERSION */
    .mobilebg {
        display: none;
    }

    .box3:before {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 20px solid;
        border-color: white white transparent transparent;
    }
}

@media screen and (max-width: 300px) {
    /* MOBILE VERSION */
    .desktopbg {
        display: none;
    }
}
